/Fantnel/bin/
/Fantnel/obj/
/Fantnel/resources/
/Fantnel/.ug_cache

/Nirvana.Chat/bin/
/Nirvana.Chat/obj/

/Nirvana.Development/bin/
/Nirvana.Development/obj/

/Nirvana.Game.Launcher/bin/
/Nirvana.Game.Launcher/obj/

/Nirvana.WPFLauncher/bin/
/Nirvana.WPFLauncher/obj/

/Nirvana.Public/bin/
/Nirvana.Public/obj/

/ConsoleAppTest/bin/
/ConsoleAppTest/obj/

/NirvanaAPI/bin/
/NirvanaAPI/obj/

/OpenSDK/bin/
/OpenSDK/obj/
