/Fantnel/resources/
/Fantnel/.ug_cache
/Fantnel/bin/
/Fantnel/obj/
/Codexus.Development.SDK/bin/
/Codexus.Development.SDK/obj/
/Codexus.Game.Launcher/bin/
/Codexus.Game.Launcher/obj/
/ConsoleAppTest/bin/
/ConsoleAppTest/obj/
/NirvanaAPI/bin/
/NirvanaAPI/obj/
/NirvanaChat/bin/
/NirvanaChat/obj/
/NirvanaPublic/bin/
/NirvanaPublic/obj/
/OpenSDK/bin/
/OpenSDK/obj/
/WPFLauncherApi/bin/
/WPFLauncherApi/obj/
